
body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 800px) {

    #f-AboutBody #f-AboutContainer {
        width: 90%;
        margin: 0 auto;
        display: block;
        padding-bottom: 3em;

        #f-HeadshotDiv {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1em;
        }

        #f-ParaDiv {
            width: 80%;
            margin: 0 auto;
            text-align: left;
        } 
    }

    footer {

        #f-MobileFooter {
            width: 60%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .f-FooterIcon {
                // color: $wh;
                padding: .5em;
                margin: .5em;
            }
        }

        #f-BigColumnDiv {
            display: none;
        }
    }
}